{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    ACCOUNT
</div>



{% if account.avatar %}
     <p><img src="{{ account.avatar.url }}" class="rounded" alt="image not found"></p>
{% else %}
     <p><img src="{% static 'avatar_default.jpg' %}" class="rounded" alt="image not found"></p>
{% endif %}

<form method="POST">
    {% csrf_token %}

    <div><label>avatar</label></div>
        <input name="image" type="file" multiple class="form-control-file" accept="image/jpeg, image/png">
    <br>

     <button type="submit">Submit</button>
</form>

<form method="POST">
    {% csrf_token %}
        <label>email</label>
    <input required name="email" value="{{ account.email }}">
    <br>
    <label>username</label>
        <input required name="username" value="{{ account.username }}">
    <br>
    <label>firstname</label>
        <input required name="firstname" value="{{ account.firstname }}">
    <br>
    <label>surname</label>
        <input required name="surname" value="{{ account.surname }}">
    <br>
    <label>country</label>
        <input required name="country" value="{{ account.country }}">
    <br>
    <label>city</label>
        <input required name="city" value="{{ account.city }}">
    <br>
    <label>street</label>
        <input required name="street" value="{{ account.street }}">
    <br>
    <label>postcode</label>
        <input required name="postcode" value="{{ account.postcode }}">
    <br>


     <button type="submit">Submit</button>
</form>


<form method="POST">
    {% csrf_token %}
       <label>old password</label>
        <input required name="old_password" type="password">
    <br>
    <label>password</label>
        <input required name="password" type="password">
    <br>
    <label>repeated_password</label>
        <input required name="repeated_password" type="password">
    <br>
    <p>{{ account.id }}</p>


     <button type="submit">Submit</button>

</form>

{% if error_message %}
    <p class="error-message">{{ error_message }}</p>
{% endif %}
</body>
</html>