{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<a href="{% url 'main_page' %}">
    <button>Main page</button>
</a>

<a href="{% url 'categories_view' %}">
<button>Categories</button>
</a>

<a href="{% url 'your_offers' %}">
    <button>Your offers</button>
</a>

<a href="{% url 'add_item' %}">
    <button>Add item</button>
</a>

<form method="POST" style="display: inline;">
    {% csrf_token %}

    <button name='log_out' type="submit">Logout</button>

</form>

<a href="{% url 'delete_user' %}">
    <button>Delete Account</button>
</a>

<br>

{% if user.avatar %}
     <p><img src="{{ user.avatar.url }}" class="rounded" alt="image not found"></p>
{% else %}
     <p><img src="{% static 'avatar_default.jpg' %}" class="rounded" alt="image not found"></p>
{% endif %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div><label>Choose avatar</label></div>
        <input name="avatar" type="file" multiple class="form-control-file" accept="image/jpeg, image/png">
    <br>

     <button type="submit">Submit</button>
</form>

<form method="POST">
    {% csrf_token %}
        <label>email</label>
    <input required name="email" value="{{ user.email }}">
    <br>
    <label>username</label>
        <input required name="username" value="{{ user.username }}">
    <br>
    <label>firstname</label>
        <input required name="firstname" value="{{ user.first_name }}">
    <br>
    <label>surname</label>
        <input required name="surname" value="{{ user.last_name }}">
    <br>
    <label>country</label>
        <input required name="country" value="{{ user.country }}">
    <br>
    <label>city</label>
        <input required name="city" value="{{ user.city }}">
    <br>
    <label>street</label>
        <input required name="street" value="{{ user.street }}">
    <br>
    <label>postcode</label>
        <input required name="postcode" value="{{ user.postcode }}">
    <br>


     <button type="submit">Submit</button>
</form>


<form method="POST">
    {% csrf_token %}

    <label>old password</label>
        <input required name="old_password" type="password">
    <br>
    <label>password</label>
        <input required name="password" type="password">
    <br>
    <label>repeated_password</label>
        <input required name="repeated_password" type="password">
    <br>

     <button type="submit">Submit</button>

</form>

{% if error_message %}
    <p class="error-message">{{ error_message }}</p>
{% endif %}

</body>
</html>