<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% if error_message %}
    <p class="error-message">{{ error_message }}</p>
{% endif %}

{% if message %}
    <p class="message">{{ message }}</p>
{% endif %}

<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
  <label for="images">Select images:</label>
  <input type="file" id="images" name="images" multiple><br><br>



        <label>description</label>
    <input required name="description" value="{{ descriptio }}">
    <br>
    <label>title</label>
        <input required name="title" value="{{ title }}">
    <br>
    <label>price</label>
        <input required name="price" value="{{ price }}">
    <br>
    <label>category</label>

    <select name="category" required>
        {% for category in categories %}
            <option value="{{ category }}">{{ category }}</option>
        {% endfor %}
    </select>

    <br>
    <label>condition</label>

    <select name="condition" required>
        {% for condition in conditions %}
            <option value="{{ condition }}">{{ condition }}</option>
        {% endfor %}
    </select>

    <br>
    <label>location</label>
        <input required name="location" value="{{ location }}">
    <br>
    <label>amount</label>
        <input required name="amount" value="{{ amount }}">
    <br>


     <button type="submit">Submit</button>


</form>


</body>
</html>