<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="{% url 'main_page' %}">
<button>Main Page</button>
</a>

<a href="{% url 'categories_view' %}">
<button>Categories</button>
</a>

<a href="{% url 'log_in' %}">
<button>Log in</button>
</a>

{% if error_message %}
    <p>{{ error_message }}</p>
{% endif %}

{% if message %}
    <p>{{ message }}</p>
{% endif %}

<form method="POST">
    {% csrf_token %}
    <label>email</label>
    <input required name="email" value="{{ email }}">
    <br>
    <label>username</label>
        <input required name="username" value="{{ username }}">
    <br>
    <label>firstname</label>
        <input required name="first_name" value="{{ first_name }}">
    <br>
    <label>surname</label>
        <input required name="last_name" value="{{ last_name }}">
    <br>
    <label>country</label>
        <input required name="country" value="{{ country }}">
    <br>
    <label>city</label>
        <input required name="city" value="{{ city }}">
    <br>
    <label>street</label>
        <input required name="street" value="{{ street }}">
    <br>
    <label>postcode</label>
        <input required name="postcode" value="{{ postcode }}">
    <br>
    <label>password</label>
        <input required name="password" type="password">
    <br>
    <label>repeated_password</label>
        <input required name="repeated_password" type="password">
    <br>


     <button type="submit">Submit</button>


</form>



</body>
</html>