<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% if error_message %}
    <p>{{ error_message }}</p>
{% endif %}

{% if message %}
    <p>{{ message }}</p>
{% endif %}

<form method="POST">
    {% csrf_token %}
    <label>email</label>
    <input required name="email" value="{{ email }}">
    <br>
    <label>username</label>
        <input required name="username" value="{{ username }}">
    <br>
    <label>firstname</label>
        <input required name="firstname" value="{{ firstname }}">
    <br>
    <label>surname</label>
        <input required name="surname" value="{{ surname }}">
    <br>
    <label>country</label>
        <input required name="country" value="{{ country }}">
    <br>
    <label>city</label>
        <input required name="city" value="{{ city }}">
    <br>
    <label>street</label>
        <input required name="street" value="{{ street }}">
    <br>
    <label>postcode</label>
        <input required name="postcode" value="{{ postcode }}">
    <br>
    <label>password</label>
        <input required name="password" type="password">
    <br>
    <label>repeated_password</label>
        <input required name="repeated_password" type="password">
    <br>


     <button type="submit">Submit</button>


</form>



</body>
</html>