<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="{% url 'main_page' %}">
    <button>Main page</button>
</a>

<a href="{% url 'your_offers' %}">
    <button>Your offers</button>
</a>

<a href="{% url 'add_item' %}">
    <button>Add item</button>
</a>

<a href="{% url 'account' %}">
    <button>Your account</button>
</a>
<br>

{% if message %}
    <p>{{ message }}</p>
{% endif %}

  <h2>Delete User</h2>

  <p>Are you sure you want to delete the user '{{ user.username }}'? This action cannot be undone.</p>
  <form method="post">
    {% csrf_token %}

    <label>password</label>
        <input required name="password" type="password">
    <br>
    <button type="submit">Delete</button>

  </form>

</body>
</html>