<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="{% url 'main_page' %}">
    <button>Main page</button>
</a>

<a href="{% url 'categories_view' %}">
    <button>Categories</button>
</a>

<a href="{% url 'your_offers' %}">
    <button>Your offers</button>
</a>

<a href="{% url 'account' %}">
    <button>Your account</button>
</a>

<form method="POST" style="display: inline;">
    {% csrf_token %}

    <button name='log_out' type="submit">Logout</button>

</form>
<br>

{% if error_message %}
    <p class="error-message">{{ error_message }}</p>
{% endif %}

{% if message %}
    <p class="message">{{ message }}</p>
{% endif %}

{% if item.main_image %}
<p>
    <img width="30%" src="{{ item.main_image.url }}" class="rounded" alt="image not found">
    <form method="POST">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>
</p>
{% endif %}

{% for image in item.images.all %}
    <img width="10%" src="{{ image.image.url }}" alt="Item Photo">
    <a href="{% url 'delete_photo' item.id %}"><button type="submit">Delete</button></a>
{% endfor %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label>Add images:</label>
    <input type="file" name="images" multiple><br><br>



    <label>description</label>
    <input required name="description" value="{{ item.description }}">
    <br>
    <label>title</label>
        <input required name="title" value="{{ item.title }}">
    <br>
    <label>price</label>
        <input required name="price" value="{{ item.price }}">
    <br>
    <label>category</label>

    <select name="category" required>
        <option value="{{ category }}">{{ item.category }}</option>
        {% for category in categories %}
            <option value="{{ category }}">{{ category }}</option>
        {% endfor %}
    </select>

    <br>
    <label>condition</label>

    <select name="condition" required>
        <option value="{{ condition }}">{{ item.condition }}</option>
        {% for condition in conditions %}
            <option value="{{ condition }}">{{ condition }}</option>
        {% endfor %}
    </select>

    <br>
    <label>location</label>
        <input required name="location" value="{{ item.location }}">
    <br>
    <label>amount</label>
        <input required name="amount" value="{{ item.amount }}">
    <br>


     <button type="submit">Submit</button>


</form>


<a href="{% url 'delete_item' item.id %}">
    <button>Delete this item</button>
</a>
<br>

</body>
</html>