<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% if user.is_authenticated %}

    <p>Hello {{ user.username }}</p>

    <a href="{% url 'categories_view' %}">
    <button>Categories</button>
    </a>

    <a href="{% url 'account' %}">
    <button>Your account</button>
    </a>

    <a href="{% url 'your_offers' %}">
    <button>Your offers</button>
    </a>

    <a href="{% url 'add_item' %}">
    <button>Add item</button>
    </a>

    <form method="POST" style="display: inline;">
        {% csrf_token %}

        <button name='log_out' type="submit">Logout</button>

    </form>

{% else %}

    <a href="{% url 'categories_view' %}">
    <button>Categories</button>
    </a>

    <a href="{% url 'log_in' %}">
    <button>Log in</button>
    </a>

    <a href="{% url 'create_account' %}">
    <button>Create account</button>
    </a>
    <br>


{% endif %}
<br>

{% if item.main_image %}
     <p><img width="30%" src="{{ item.main_image.url }}" class="rounded" alt="image not found"></p>
{% endif %}

{% for image in item.images.all %}
    <img width="10%" src="{{ image.image.url }}" alt="Item Photo">
{% endfor %}

<p>Title: {{ item.title }}</p>
<p>Description: {{ item.description }}</p>
<p>Price: {{ item.price }}</p>
<p>Category: {{ item.category }}</p>
<p>Condition: {{ item.condition }}</p>
<p>Location: {{ item.location }} </p>
<p>Seller: {{ item.user_seller }}</p>

<br>


</body>
</html>