{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ category_name }}</title>
</head>
<body>

{% if user.is_authenticated %}
    <p>Hello {{ user.username }}</p>

    <a href="{% url 'main_page' %}">
    <button>Main page</button>
    </a>

    <a href="{% url 'categories_view' %}">
    <button>Categories</button>
    </a>

    <a href="{% url 'account' %}">
    <button>Your account</button>
    </a>

    <a href="{% url 'your_offers' %}">
    <button>Your offers</button>
    </a>

    <a href="{% url 'add_item' %}">
    <button>Add item</button>
    </a>

    <form method="POST" style="display: inline;">
        {% csrf_token %}

        <button name='log_out' type="submit">Logout</button>

    </form>

{% else %}
    <a href="{% url 'main_page' %}">
    <button>Main page</button>
    </a>

    <a href="{% url 'categories_view' %}">
    <button>Categories</button>
    </a>

    <a href="{% url 'log_in' %}">
    <button>Log in</button>
    </a>

    <a href="{% url 'create_account' %}">
    <button>Create account</button>
    </a>
    <br>


{% endif %}
<br>

{{ category_name }}

{% if items %}

    {% for item in items %}

        <p><a href="{% url 'item_view' item.id %}">Title: {{ item.title }}</a></p>
        <p>Price: {{ item.price }}</p>
        <p>Condition: {{ item.condition }}</p>

        {% if item.main_image %}
             <p><img width="20%" src="{{ item.main_image.url }}" class="rounded" alt="image not found"></p>
        {% else %}
             <p><img width="20%" src="{% static 'item_default.jpg' %}" class="rounded" alt="image not found"></p>
        {% endif %}

        <br>
        <br>

    {% endfor %}
{% else %}
<p>No items</p>
{% endif %}

</body>
</html>