<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ category_name }}</title>
</head>
<body>

{{ category_name }}

{% if items %}

    {% for item in items %}

        <p>Title: {{ item.title }}</p>
        <p>Description: {{ item.description }}</p>
        <p>Price: {{ item.price }}</p>
        <p>Category: {{ item.category }}</p>
        <p>Condition: {{ item.condition }}</p>
        <p>Location: {{ item.location }} </p>
        <p>Seller: {{ item.user_seller }}</p>

        {% for image in item.images.all %}
            <img width="20%" src="{{ image.image.url }}" alt="Item Photo">
        {% endfor %}
        <br>

    {% endfor %}

{% endif %}

</body>
</html>