{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<a href="{% url 'main_page' %}">
    <button>Main page</button>
</a>

<a href="{% url 'categories_view' %}">
    <button>Categories</button>
</a>

<a href="{% url 'account' %}">
    <button>Your account</button>
</a>

<a href="{% url 'add_item' %}">
    <button>Add item</button>
</a>

<form method="POST" style="display: inline;">
    {% csrf_token %}

    <button name='log_out' type="submit">Logout</button>

</form>
<br>

{% if items %}

    {% for item in items %}

        <a href="{% url 'item_view' item.id %}">Title: {{ item.title }}</a>
        <br>
        <p>Price: {{ item.price }}</p>
        <p>Condition: {{ item.condition }}</p>
        <p>Location: {{ item.location }} </p>

        {% if item.main_image %}
             <p><img width="20%" src="{{ item.main_image.url }}" class="rounded" alt="image not found"></p>
        {% else %}
             <p><img width="20%" src="{% static 'item_default.jpg' %}" class="rounded" alt="image not found"></p>
        {% endif %}

        {% for image in item.images.all %}
            <img width="10%" src="{{ image.image.url }}" alt="Item Photo">
        {% endfor %}
        <br>

        <a href="{% url 'edit_item' item.id %}">
            <button>Edit item</button>
        </a>
        <br>

        <a href="{% url 'delete_item' item.id %}">
            <button>Delete item</button>
        </a>
        <br>

    {% endfor %}

{% endif %}

</body>
</html>